[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "==2.0.0"
setuptools = "==41.4.0"
green = "==3.0.0"
coverage = "==4.5.4"
codecov = "==2.0.15"
wheel = "==0.33.6"
mashumaro = "==1.7"

[packages]
path-py = "==12.0.1"
filelock = "==3.0.12"
cached-property = "==1.5.1"
singletons = "==0.2.3"
