[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
setuptools-git-version = "*"
green = "*"
coverage = "*"
codecov = "*"

[packages]
path-py = "*"

[requires]
python_version = "3.7"
