name: audit

on:
  pull_request:
    paths:
      - '**/poetry.lock'
      - '**/pyproject.toml'
      - '.github/workflows/audit.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  audit:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    name: audit dependencies
    steps:
      - uses: int128/hide-comment-action@v1.23.0
        with:
          contains: Packj Audit Report
      - uses: actions/checkout@v3.5.3
      - name: setting up python
        uses: actions/setup-python@v4.7.0
        with:
          python-version-file: pyproject.toml
      - name: setting up poetry
        uses: Gr1N/setup-poetry@v8
        with:
          poetry-version: 1.5.1
      - name: export poetry locks
        run: poetry export -f requirements.txt --output requirements.txt
      - name: audit poetry locks
        uses: ossillate-inc/packj-github-action@v0.0.11-beta
        with:
          DEPENDENCY_FILES: pypi:requirements.txt
